default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext:
        - Drupal\DrupalExtension\Context\MessageContext:
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Metadrop\Behat\Context\AntiSpamContext
        - Metadrop\Behat\Context\CacheContext
        - Metadrop\Behat\Context\ContentAuthoredContext
        - Metadrop\Behat\Context\CronContext
        - Metadrop\Behat\Context\CookieComplianceContext:
            parameters:
              cookie_manager_type: onetrust
              # Alternative manual configuration:
              # cookie_agree_selector: 'button.agree-button'
              # cookie_reject_selector: 'button.reject-button'
              # cookie_banner_selector: '.cookie-banner'
              # cookies:
              #   mandatory:
              #     - 'cookie-mandatory'
              #   analytics:
              #     - '_ga'
              # cookies_ignored:
              #   - 'example-cookie'
              # cookies_third_party_domains_ignored:
              #   - example.com
              # cookies_third_party_domains_included:
              #   - extra-service.com
        - Metadrop\Behat\Context\DebugContext:
            parameters:
              'report_on_error': true
              'error_reporting_path': "/var/www/html/docroot/sites/default/files/behat/errors"
              'error_reporting_url': "http://metadropnet.docker.localhost:8000/sites/default/files/behat/errors"
              'screenshots_path':  "/var/www/html/docroot/sites/default/files/behat/screenshots"
              'page_contents_path': "/var/www/html/docroot/sites/default/files/behat/pages"
        - Metadrop\Behat\Context\DrupalGroupsExtendedContext
        - Metadrop\Behat\Context\DrupalOrganicGroupsExtendedContext
        - Metadrop\Behat\Context\EntityContext
        - Metadrop\Behat\Context\FileContext
        - Metadrop\Behat\Context\FormContext
        - Metadrop\Behat\Context\I18nContext
        - Metadrop\Behat\Context\LogsContext:
            parameters:
              base_url: "${drupal.base_url}"
              types:
                - php
              levels:
                - ERROR
                - WARNING
                - NOTICE
              limit: 100
              path: '/var/www/html/reports/behat/dblog'
              write_report: false
        - Metadrop\Behat\Context\MediaContext
        - Metadrop\Behat\Context\NodeAccessContext
        - Metadrop\Behat\Context\ParagraphsContext
        - Metadrop\Behat\Context\SearchApiContext
        - Metadrop\Behat\Context\UIContext:
            parameters:
              scroll_offset: -100
        - Metadrop\Behat\Context\UrlContext
        - Metadrop\Behat\Context\UsersContext
        - Metadrop\Behat\Context\UsersRandomContext
        - Metadrop\Behat\Context\WaitingContext
        - Metadrop\Behat\Context\VideoRecordingContext:
            parameters:
              enabled: false
              show_test_info_screen: true
              show_test_info_screen_time: 2000
              show_green_screen: false
              show_green_screen_time: 1000
              show_step_info_bubble: true
              show_step_info_bubble_time: 1000
              show_error_info_bubble: true
              show_error_info_bubble_time: 5000
     filters:
        tags: "~@exclude"
  extensions:
    Behat\MinkExtension:
      goutte: ~
      selenium2:
        wd_host: 'http://selenium:4444/wd/hub'
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    NuvoleWeb\Drupal\DrupalExtension:
      # Change this if you use a custom services.yml
      services: "vendor/metadrop/behat-contexts/services.yml"
      api_driver: "drupal"
      drupal:
        # Change this to the absolute path to Drupal install.
        drupal_root: "${drupal.root}"
      region_map:
        left sidebar: "#sidebar-first"
        content: "#content"
      selectors:
        error_message_selector: '.messages--error'
      text:
        node_submit_label: "Save and publish"
  formatters:
    progress: ~
